body {
    --my-color: #000000;
}

#div {
    display: inline-block;
    font-family: monospace;
    text-align: right;
    font-size: 10px;
    color: var(--my-color); 
    position: fixed;
    z-index: -1;
}
