body {
  --bg1-color:#f8f8f8;
  --bg2-color: #303030;
  --hover-color: #5433ac;
  --color: #e4e4e4;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .navbar {
    background: #d6d6d6;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
    font-size: 35px;
  }
  
  .navbar__links {
    color: var(--bg2-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  

  
  .navbar__links:hover {
    color: var(--hover-color);
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #d6d6d6;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: var(--bg2-color);
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  /* Main Content CSS */
  .main {
    background-color: var(--bg1-color);
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 20vh;
    background-color: var(--bg1-color);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }


  .main__content h1 {
    font-size: 60px;
    background-image: linear-gradient(to right, #181818 0%, #424242 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main__content h1:hover{
    background-image: linear-gradient(to right, #280a5f 0%, var(--hover-color) 0%);
  }

  
  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
    }
  
    .main__content h1 {
      font-size: 60px;
      margin-top: 1px;
    }
  
  }
  
  @media screen and (max-width: 480px) {
    .main__content h1 {
      font-size: 40px;
      margin-top: 1rem;
    }
  
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  
    .main__btn {
      padding: 12px 36px;
      margin: 1rem 0;
    }
  }
  
  /* Services Section */
  .services {
    background: var(--bg1-color);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
  }
  
  .services h1 {
    background-color: var(--bg1-color);
    background-image: linear-gradient(
      to right,
      #1a1919 0%,
      #4d3b42 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  

  
  .services__links{
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--bg2-color);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
  }

  .services__links:hover{
    color: var(--hover-color);
  }
  
  .services__text{
    color: var(--color);
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--bg2-color);
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
  }
  
  .services__text h2{
    font-size: 2.5rem;
  }
  .services__text h3{
    font-size: 2rem;
  }

  .download{
    text-decoration: none;
    margin-top: 50px;
    color: var(--color)
  }

  .download:hover{
    color: var(--hover-color)
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: 1600px;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 1400px;
    }
  
    .services h1 {
      font-size: 1.2rem;
    }
  
    .services__card {
      width: 300px;
    }
  }
  
 
