body {
    --my-color: #000000;
}

#to_umfragen {
    display: inline-block;
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    color: var(--my-color); 
    position: fixed;
    z-index: -1;
}
